/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AKAI Frontend Task - CSS

    Spróbuj zmodyfikować poniższy plik ze stylami tak, by upiększyć formularz na stronie.
    Jako inspiracji możesz skorzystać z szablonu znajdującego się w pliku img/layout.png
    Nie wymagamy, by wykonać identyczny layout. Liczy się kreatywność.

    Przy wykonywaniu zadania można zmienić strukturę pliku index.html.
    Pamiętaj, że w takim wypadku będzie trzeba zadbać o dostosowanie odpowiednich selektorów.

    Jeśli korzystasz z preprocessorów takich jak Sass/Less, również możesz się tym pochwalić.

    Powodzenia!
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


/*
Przeanalizuj składnię pliku .css.
Przy stylowaniu na najpierw podajemy, co chcemy ostylować, a następnie jakie atrybuty chcemy zmienić.
np. poniższy selektor (body) oznacza, że modyfikujemy kontent body w dokumencie html.
Żeby mieć pewność o czym mowa, zajrzyj w plik index.html, i znajdź tag <body>.
*/
body {
    margin: 5%;
    padding: 0;
    background-image: url(../img/background6.jpeg);
    background-size: inherit;
    background-position: center;
    font-family: "Verdana";
    color: #000033;
}



#task-frontend {
    padding: 80px;
    border-radius: 25px;
    opacity: 0.8;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
 
}

    #task-frontend .logo-image {
       height: 80px;
       width: 80px;
    }

    #task-frontend .basic-title {
    
        color: #000033;
        font-size: 25px;
        margin-bottom: 40px;
        font-weight: bold;
    }
    #task-frontend input[type=text],
    #task-frontend input[type=email] {
        display: block;
        margin: 10px auto;
        width: 250px;
        height: 30px;
        border: none;
        border-bottom: 2px solid #000033;
        background: transparent;
        outline: none;
        font-size: 15px;
        margin-bottom: 30px;
    }


#task-frontend form>label {
  
    margin: 10px auto 0 auto;
   
}


#task-frontend span {
  display: block;
  margin-top: 10px;
}

    #task-frontend input[type="checkbox"] {
        display: inline-block;
        margin-top: 15px;
        border: 1px transparent solid;
        text-transform: none;
        
    }

    #task-frontend input[type="submit"] {
        color: white;
        background: #000033;
        border: none;
        border-radius: 25px;
        margin-top: 10px;
        width: 200px;
        height: 30px;
        text-align: center;
    }
